.searchField{
    margin-top: 20px;
    display:inline-block;
   
    margin-left:0;
}

.searchInput{
    width: 320px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid;
}
.searchTitle{
    font-size: 24px;
    font-weight: 200;
}