.contact{
  width: 310px;
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 6px;
border: 1px solid;
  
}


.button{
background-color: white;
color: black;
border-radius: 6px;
border: 1px solid;
}

.buttonBlock{
   padding: 30px 8px 10px 20px;
display: block;

}

.icon {
    color: gray;
    height: 12px;
    width: 12px;
padding-right: 8px;
padding-left: 8px;
  }